@charset "UTF-8";

.widget_text {
  display: none;
}
.cat-popular-post--guitar,
.cat-popular-post--game,
.cat-popular-post--editing,
.cat-recommend-post--guitar,
.cat-recommend-post--game,
.cat-recommend-post--editing {
  display: none;
}
@media screen and (max-width: 480px){
  .widget_text {
    display: block;
  }
  .archive-title {
    padding-bottom: 16px;
    border-bottom: 1px solid #ccdde6;
  }
  .cat-popular-title {
    display: block;
    font-size: 1.125rem;
  }
  .cat-recommend-title {
    display: block;
    font-size: .8333rem;
  }
  .cat-popular-title {
    margin-top: 1.11111rem;
  }
  .cat-popular-posts,
  .cat-recommend-posts {
    width: 100%;
    display: block;
    margin-bottom: 0;
  }
  #custom_html-4 {
    margin-bottom: 0;
  }
  .popular-entry-card-title {
    font-size: 1.125em;
    font-weight: bold;
    height: auto;
  }
}